div {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

h1 {
  color: gray;
  font-family: Times;

}

h2 {
  color: #cb451c;
  border: 20px dotted yellow;
  width: 30px;
  position: relative;
  top: 20px;
  margin: 0 auto;
  text-align: center;
}

a {
  color: orange;
}